# Docker Images
BLUE_IMAGE=ghcr.io/Dev-temiloluakin/app:blue
GREEN_IMAGE=ghcr.io/Dev-temiloluakin/app:green

# Active pool (blue or green)
ACTIVE_POOL=blue

# Release identifiers
RELEASE_ID_BLUE=blue-v1.0.0
RELEASE_ID_GREEN=green-v1.0.0

# Application port
PORT=3000

# Ports
NGINX_PORT=8080
BLUE_PORT=8081
GREEN_PORT=8082
